<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>💰 Petty Cash Summary</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Total Petty Cash</th>
        <td>₹{{ total_cash }}</td>
    </tr>
    <tr>
        <th>Total Expenses</th>
        <td>₹{{ total_expenses }}</td>
    </tr>
    <tr>
        <th>Remaining Balance</th>
        <td><strong>₹{{ balance }}</strong></td>
    </tr>
</table>

    
</body>
</html>